*{
    margin:0;
    padding:0;
}
#nagy-flex-container{
    display:flex;    
    flex-direction: column;
}
#about{
    display: flex;
    flex-direction: row;
}
#about > #details{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#details > #personal-data{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nat name age dob"
    "email . . mobile"
    "bio bio bio bio";
}
#personal-data > #dob{
    
}
#details > #reach{
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}