/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    position: fixed;
    top: 0;
}

/*NAGY_GRID_CONTAINER*/
#nagy-grid-container {
    display: grid;
    grid-template-columns: 33% 67%;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}
